extends ../layout
block javascripts
  script(src=m==='quyen'?"javascripts/quanlytaikhoannhomquyen/chucnang-quyen.js":"javascripts/quanlytaikhoannhomquyen/chucnang-taikhoan.js")
block content
  #window
  .row
    #listbox
      .col-md-3
        select#listbox0.full-height
      .col-md-4
        select#listbox1.full-height
      .col-md-3#listbox2-container
        select#listbox2.full-height
      .col-md-2
        .well
          button.k-button(data-bind='enabled: isEnabled, events:{click:btnUpdateClick}') Cập nhật
  ul#context-menu
          li Chọn là chức năng chính
          li Xem chức năng chính