extends ../layout
block javascripts
  script(src="javascripts/quanlytaikhoannhomquyen/lopdulieu-taikhoan.js")
block content
  #window
  .row
    .col-md-3
      #listbox.full-height
    .col-md-9
      #table