extends ../layout
block javascripts
  script(src="javascripts/quanlytaikhoannhomquyen/quanlytaikhoan.js")
  script(src='https://kendo.cdn.telerik.com/2017.3.1026/js/jszip.min.js')
block content
  .row
    .col-md-12
      #table